{
  "extends": "airbnb",
  "plugins": [
    "react",
    "import",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "max-len": "off", // Remove warnings on max line length exceeding 100 characters
    "react/require-default-props": "off", // Disabled the requirement to default all non-required props
    "no-multi-assign": "off",
    "jsx-a11y/label-has-for": "off", // This would require updates to several of our common components.  Hopefully as we migrate to terra components some of these will be resolved.
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["__tests__/**", "__helpers__/**", "__mocks__/**", "webpack.config.client.js"]}]
  },
  "globals": {
    "shallow": true,
    "render": true,
    "mount": true,
    "Terra": true,
    "PCTDocCommon": true,
    "IonDemographicsEngineGlobalContext": true,
    "$": true,
    "jasmine": true
  }
}